<nav class="nav">
    <h2>Logo</h2>
    <ul class="ul">
    <li>
        <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">home</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="/login">login</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="/signup">signUp</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="/about">about</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="/contact">contact</a>
    </li>
    </ul>
</nav>

<router-outlet></router-outlet>