.main_login_div{
    display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 150px;
}
.login_input_field{
    height: 20px; width: 290px;
}
.login_button{
    background: black;
    color: white;
    border-radius: 1px solid black;
    width: 8%;
}